<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CalculationLogConnectionString" connectionString="Data Source=LAPTOP-OH4UGTBN\SQLEXPRESS;Initial Catalog=CalculationLog;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="TCPEndpoint" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="HTTPEndpoint" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7777/Calc" binding="wsHttpBinding"
        bindingConfiguration="HTTPEndpoint" contract="CalcBusinessLogicProxy.ICalcBusinessLogic"
        name="HTTPEndpoint">
        <identity>
          <userPrincipalName value="ORSK\Admin" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:7778/Calc" binding="netTcpBinding"
        bindingConfiguration="TCPEndpoint" contract="CalcBusinessLogicProxy.ICalcBusinessLogic"
        name="TCPEndpoint">
        <identity>
          <userPrincipalName value="ORSK\Admin" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>